<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <link href="../css/bootstrap.min.css" rel="stylesheet">
  <title>Gestion des Clients</title>
</head>
<body>
<h1>Gestion des Clients</h1>

<!-- Section pour ajouter un client -->
<div id="add-section">
  <h2>Ajouter un Client</h2>
  <form th:action="@{/clients/save}" method="POST">
    <table>
      <tr>
        <td>CIN</td>
        <td><input type="text" name="cin" /></td>
      </tr>
      <tr>
        <td>Nom</td>
        <td><input type="text" name="nom" /></td>
      </tr>
      <tr>
        <td>Prénom</td>
        <td><input type="text" name="prenom" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Enregistrer" class="btn btn-primary" /></td>
      </tr>
    </table>
  </form>
</div>

<!-- Section pour afficher la liste des clients -->
<div id="list-section">
  <h2>Liste des Clients</h2>
  <!-- Add error message section -->
  <div th:if="${error}" class="alert alert-danger" role="alert">
    <p th:text="${error}"></p>
  </div>

  <table class="table table-striped">
    <tr>
      <th>CIN</th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <tr th:each="client : ${clients}">
      <td th:text="${client.cin}" />
      <td th:text="${client.nom}" />
      <td th:text="${client.prenom}" />
      <td>
        <a th:href="@{/clients/edit/{cin}(cin=${client.cin})}" class="btn btn-danger">Modifier</a>
      </td>
      <td>
        <a th:href="@{/clients/delete/{cin}(cin=${client.cin})}" class="btn btn-danger">Supprimer</a>
      </td>
    </tr>
  </table>
</div>

<script src="../js/bundle.min.js"></script>
<script src="../js/student.js"></script>
<script src="../js/jquery-3.6.0.min.js"></script>
<script src="../js/sweetalert.min.js"></script>
</body>
</html>
