<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Gestion des Comptes</title>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Your Logo</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/clients}">Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/comptes}">Comptes</a>
                    </li>
                    <!-- Add more navigation links as needed -->
                </ul>
            </div>
        </div>
    </nav>
</header>


<div class="container">
    <h1 class="my-4">Édition de Compte</h1>

    <form th:action="@{/comptes/update/{rib}(rib=${compte.rib})}" method="POST">
        <div class="mb-3">
            <label for="client" class="form-label">Client</label>
            <select name="client" id="client">
                <option th:each="client : ${clients}" th:value="${client.cin}"
                        th:text="${client.nom} + ' ' + ${client.prenom}"
                        th:selected="${client.cin == compte.client.cin}"></option>
            </select>
        </div>

        <div class="mb-3">
            <label for="solde" class="form-label">Solde</label>
            <input type="text" id="solde" name="solde" th:value="${compte.solde}" class="form-control" />
        </div>
        <button type="submit" class="btn btn-success">Enregistrer les modifications</button>
        <a th:href="@{/comptes}" class="btn btn-secondary">Annuler</a>
    </form>
</div>

<script src="../js/bundle.min.js"></script>
<script src="../js/student.js"></script>
<script src="../js/jquery-3.6.0.min.js"></script>
<script src="../js/sweetalert.min.js"></script>
</body>
</html>
